.search-input {
    height: 20px;
    width: 200px;
    background: aliceblue;
}

.searchForm {
    background: lightblue;
    width: 90%;
}

.home-page {
    display: flex;
}

.userpage-button,
.logout-button {
 background: lightblue;
 height: 50px;
}